<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
</head>
<body>
    <h1>welcome to the pages</h1>
    <br> <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat id, nobis sunt saepe, quis vitae aliquid aspernatur mollitia, qui eos nesciunt nulla ad illo est. Eius ullam officia in necessitatibus.</p>
    <img src="{{url_for('static',filename='thor.jpg')}}">

    <a href="{{url_for('second')}}">click me...</a>
</body>
</html>